<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}安知后台管理系统{% endblock %}</title>
<link href="/admin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <link href="/admin/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/admin/assets/styles.css" rel="stylesheet" media="screen">
     <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/admin/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body id="{%block bodyid%}{%endblock%}">  
  {% block body %}{% endblock %}
  <script src="/admin/vendors/jquery-1.9.1.min.js"></script>
  <script src="/admin/bootstrap/js/bootstrap.min.js"></script>
  {%block javascripts%}{%endblock%}
</body>
</html>
