{% extends 'base.html.twig' %}
{% block title %}
    安知 - 我的安全私董会
{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="css/aq.css">
{% endblock %}

{% block body %}
  <header class="bar bar-nav">
     <h1 class="title">安 知</h1>
  </header>

<nav class="bar bar-tab topbar">
    <a class="tab-item active" href="{{ path('homepage') }}">
        <span class="icon icon-home"></span>
        <span class="tab-label">首页</span>
    </a>
    <a class="tab-item " href="{{ path('partmentindex') }}">
        <span class="icon iconfont" >&#xe635;</span>
        <span class="tab-label">私董会</span>
    </a>
    <a class="tab-item " href="{{ path('topicindex') }}">
        <span class="icon iconfont" >&#xe63c;</span>
        <span class="tab-label">快答</span>
    </a>
    <a class="tab-item " href="{{ path('myindex') }}">
        <span class="icon iconfont" >&#xe619;</span>
        <span class="tab-label">我的</span>
    </a>
</nav>

  <div class="content">
    <!-- 这里是页面内容区 -->

    <div class="page-index">
  <div class="card">
    <div style="background-image:url(//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250.3.0q60.jpg)" valign="bottom" class="card-header color-white no-border">旅途的山</div>
    <div class="card-content">
      <div class="card-content-inner">
        <p class="color-gray">发表于 2015/01/15</p>
        <p>此处是内容...</p>
      </div>
    </div>
    <div class="card-footer">
      <a href="#" class="link">赞</a>
      <a href="#" class="link">更多</a>
    </div>
  </div>

  <div class="card">
    <div style="background-image:url(//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250.3.0q60.jpg)" valign="bottom" class="card-header color-white no-border">旅途的山</div>
    <div class="card-content">
      <div class="card-content-inner">
        <p class="color-gray">发表于 2015/01/15</p>
        <p>此处是内容...</p>
      </div>
    </div>
    <div class="card-footer">
      <a href="#" class="link">赞</a>
      <a href="#" class="link">更多</a>
    </div>
  </div>

    <div class="card">
    <div style="background-image:url(//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250.3.0q60.jpg)" valign="bottom" class="card-header color-white no-border">旅途的山</div>
    <div class="card-content">
      <div class="card-content-inner">
        <p class="color-gray">发表于 2015/01/15</p>
        <p>此处是内容...</p>
      </div>
    </div>
    <div class="card-footer">
      <a href="#" class="link">赞</a>
      <a href="#" class="link">更多</a>
    </div>
  </div>
    <div class="card">
    <div style="background-image:url(//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250.3.0q60.jpg)" valign="bottom" class="card-header color-white no-border">旅途的山</div>
    <div class="card-content">
      <div class="card-content-inner">
        <p class="color-gray">发表于 2015/01/15</p>
        <p>此处是内容...</p>
      </div>
    </div>
    <div class="card-footer">
      <a href="#" class="link">赞</a>
      <a href="#" class="link">更多</a>
    </div>
  </div>
</div>
  </div>
</div>
{% endblock %}
