{% extends 'base.html.twig' %}
{% block title %}
    安知 - 我的安全私董会
{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="css/aq.css">
{% endblock %}

{% block body %}
  <header class="bar bar-nav">
     <h1 class="title">安 知</h1>
  </header>

<nav class="bar bar-tab topbar">
    <a class="tab-item active" href="{{ path('homepage') }}">
        <span class="icon iconfont">&#xe606;</span>
        <span class="tab-label">首页</span>
    </a>
    <a class="tab-item " href="{{ path('partmentindex') }}">
        <span class="icon iconfont" >&#xe619;</span>
        <span class="tab-label">私董会</span>
    </a>
    <a class="tab-item " href="{{ path('topicindex') }}">
        <span class="icon iconfont" >&#xe622;</span>
        <span class="tab-label">快答</span>
    </a>
    <a class="tab-item " href="{{ path('myindex') }}">
        <span class="icon iconfont" >&#xe613;</span>
        <span class="tab-label">我的</span>
    </a>
</nav>

  <div class="content">
    <!-- 这里是页面内容区 -->

    
    <div class="swiper-container" data-space-between='10' data-pagination=".swiper-pagination">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="images/banner01.jpg" alt="" style='width: 100%'></div>
        <div class="swiper-slide"><img src="images/banner02.jpg" alt="" style='width: 100%'></div>
        <div class="swiper-slide"><img src="images/banner02.jpg" alt="" style='width: 100%'></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

  
    <div class="list-block cards-list">
      <ul>

        <li class="card">
          <div class="card-header color-white no-border ui-nowrap-multi1">问：黄岛的爆炸事故中，根据我们 EHS 人员了解中石化对安全一向很重视，</div>
          <div class="card-content">
            <a href="page.html" class="wen"> <div class="card-content-inner">黄岛的事故因为我没到现场，我们没有发言权。所以我们只是讲讲应急预案。应急预案在全国有一个共性的问题，不是个性的问题。在出了很多事故以后，我们应急处理不当，</div></a>
          </div>
          <div class="card-footer">
        <a id="h1
        " class="link" onclick="change(this)" style="color:#CCC;"> <span class="icon iconfont" >&#xe60e;</span> <i>32</i></a>
        <a href="#" class="link infoaq">彭小燕/<i>石油化工</i></a>
      </div>
        </li>
      <li class="card">
          <div class="card-header color-white no-border ui-nowrap-multi1">问：黄岛的爆炸事故中，根据我们 EHS 人员了解中石化对安全一向很重视，</div>
          <div class="card-content">
            <a href="page.html" class="wen"><div class="card-content-inner">黄岛的事故因为我没到现场，我们没有发言权。所以我们只是讲讲应急预案。应急预案在全国有一个共性的问题，不是个性的问题。在出了很多事故以后，我们应急处理不当，</div></a>
          </div>
          <div class="card-footer">
        <a href="#" class="link" style="color:#F00;"> <span class="icon iconfont" >&#xe60e;</span> <i>32</i></a>
        <a href="#" class="link infoaq">彭小燕/<i>石油化工</i></a>
      </div>
        </li>
      </ul>
    </div>



  </div>
</div>
{% endblock %}
