
/*111111111*/
.title { background-color:#007c84; color:#FFF;
}
body {
    font-family:Arial,"Lucida Grande",Verdana,"Microsoft YaHei","微软雅黑",hei;
}
.topbar {
    background-color: #fff; border-top:1px solid #ccc;

}


.ui-form {
    background:none;
}
.ui-btn-primary {
    background-color: #007c84;
    border-color: #007c84;
    color: #FFF;
    background-clip: padding-box;
}
.ui-btn-primary {
    background-color: #007c84;
    border-color:  #007c84;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,#007c84),to(#00757d));
    color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.ui-btn-primary:before {
    border: none;
}
.ui-checkbox input:checked:before, .ui-checkbox-s input:checked:before {
    content: "";
    color: #007c84;
}
.ui-form-item {
    padding-right: 1.5em;
    padding-left: 1.5em; background:#fff; 
}



.tips {
    padding: 0px 10px 5px;
    font-size: 0.8em;
    line-height: 3em; height:3em;
    text-align: center;
    color: #999;
    background-color: #F2F2F2;
}
p{ margin:0px;}

.ui-btn-lg {
    font-size: 0.7rem;
    height: 32px;
    line-height: 32px;
    display: block;
    width: 100%;
    border-radius: 5px;
}


.bar .button-link {
    top: 0;
    height: 2.2rem;
    padding: 0;
    font-size: .8rem;
    line-height: 2.2rem;
    color: #FFFFFF;
    border: 0;
}
.list-block {
    margin:  0;
    font-size: .85rem;
}
.ui-flex {
    border: 1px solid #ddd;
    min-height: 80px;
    margin-bottom: 10px;
}
.ui-col {
    padding: 5px;
    background: #fff;
    text-align: center;
    box-sizing: border-box;
	border: 0px solid #fff;
     border-right: 1px solid #eee; 
}
.myli{width:100%; text-align:center; font-size:0.7rem; margin-top:0.5rem;}
.ui-list>li {
    margin-left: 0px;

}
.ui-txt-info {
    color: #ccc;
}
.ui-list-info p {
    color: #fff; opacity:0.6;
    font-size: 14px;
}
.bar-tab .tab-item.active, .bar-tab .tab-item:active {
    color: #007c84;
}

a {
    color: #333;

}