{% extends 'base.html.twig' %}
{% block title %}
    登录安知
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/sm.css">
    <link rel="stylesheet" href="/css/index.css">
{% endblock %}
{% block body %}
    <div class="pagebg"></div>
    <section class="">
        <img src="images/bg03a.jpg" width="100%" >
        <div class="demo-item" >
            <div class="demo-block">
                <div class="ui-form-item ui-form-item-pure ui-border-b">
                    <input name="mobile" id="mobile" placeholder="请输入手机号" type="tel" style="color:#ccc;" maxlength="11" required>
                    <!--<a href="#" class="ui-icon-close"></a>-->
                </div>
                <div class="ui-form-item ui-form-item-pure ui-border-b">
                    <input name="pwd" id="pwd" placeholder="请输入密码" type="password"  style="color:#ccc;" maxlength="100" required>
                    <!--<a href="#" class="ui-icon-close"></a>-->
                </div>
                </form>
            </div>
        </div>

        <p style=" margin:1em;">
            <label class="ui-checkbox-s">
                <input name="rmb" id="rmb" checked="" type="checkbox">记住密码
            </label>
            <a style="float:right; color:#ccc;" href="{{ path('regpage') }}">注册</a>
        </p>
        <div class="ui-btn-wrap">
            <button class="ui-btn-lg ui-btn-primary alert-text" type="submit">
                登 录
            </button>
            <p style=" margin:0.5em;text-align:right;"> <a style=" color:#ccc; font-size:0.8em;" href="{{path('resetpage')}}">忘记密码</a></p>
        </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('.ui-btn-primary').on('click', function () {
                var mob = $('#mobile');
                if($.trim(mob.val()) == ''){
                    $.alert('请输入手机号');
                    return false;
                }
                var pwd = $('#pwd');
                if($.trim(pwd.val()) == ''){
                    $.alert('请输入密码');
                    return false;
                }
                $.ajax({
                    url: '{{ path("loginresult") }}',
                    type: 'post',
                    data: "m=" + $.trim(mob.val()) + "&p=" + pwd.val() + "&rmb=" + ($("#rmb").prop("checked") ? "1" : "0"),
                    success: function(data){
                        if(data.success == "0"){
                            $.alert(data.msg);
                        }
                        else{
                            window.location = "{{ path('homepage') }}";
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        $.alert(errorThrown);
                    }
                });
            })
        });
    </script>
{% endblock %}